<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
    $('ul.tabs').tabs();
  });
</script>
<nav>
    <div class="nav-wrapper black">
      <a href="#/" class="brand-logo">Mojo Wedding 2017</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/location">Wedding Location</a></li>
        <li><a href="#/history">Couple's History</a></li>
        <li><a href="#/weddingparty">Wedding Party Information</a></li>
        <li><a href="#/accomidations" class="active">Wedding Accomidations</a></li>
        <li><a href="#/request">Request a Reception Song</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/location">Wedding Location</a></li>
        <li><a href="#/history">Couple's History</a></li>
        <li><a href="#/weddingparty">Wedding Party</a></li>
        <li><a href="#/accomidations">Wedding Accomidations</a></li>
        <li><a href="#/request">Request a Reception Song</a></li>
      </ul>
    </div>
</nav>
<h3>accomidations</h3>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1">Salish Lodge and Spa</a></li>
        <li class="tab col s3"><a href="#test2">TreeHouse Point</a></li>
        <li class="tab col s3"><a href="#test3">Courtyard Seattle Bellevue</a></li>
        <li class="tab col s3"><a href="#test4">Westin Hotel Bellevue</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <div class="caption center-align">
        <a href="http://www.salishlodge.com">Salish Lodge and Spa<br>
        6501 Railroad Ave Snoqualmie, WA 98065<br>
        <img class = 'aco' src = "../images/salish-lodge.jpg">
      </div>
    </div>
    <div id="test2" class="col s12">
      <div class="caption center-align">
        <a href= "http://www.treehousepoint.com">TreeHouse Point<br>
        6922 Preston-Fall City Rd SE Issaquah, WA 98027<br>
        <img class = 'aco' src = "../images/treehouse_point.jpg">
      </div>
    </div>
    <div id="test3" class="col s12">
      <div class="caption center-align">
        <a href="http://www.marriott.com/hotels/travel/seamb-seattle-marriott-bellevue"> Courtyard Seattle Bellevue/Downtown<br>
        11010 NE 8th St Bellevue, WA 98004<br>
        <img class = 'aco' src = "../images/holiday_inn.jpg">
      </div>
    </div>
    <div id="test4" class="col s12">
      <div class="caption center-align">
        <a href="http://www.westinbellevuehotel.com"> The Westin Bellevue Hotel Lincoln Square<br>
        600 Bellevue Way NE, Bellevue, WA 98004<br>
        <img class = 'aco' src = "../images/westin.jpg">
      </div>
    </div>
  </div>
  