<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>

<nav>
    <div class="nav-wrapper black">
      <a href="#/" class="brand-logo">Mojo Wedding 2017</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/location">Wedding Location</a></li>
        <li><a href="#/history" class="active">Couple's History</a></li>
        <li><a href="#/weddingparty">Wedding Party Information</a></li>
        <li><a href="#/accomidations">Wedding Accomidations</a></li>
        <li><a href="#/request">Request a Reception Song</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/location">Wedding Location</a></li>
        <li><a href="#/history">Couple's History</a></li>
        <li><a href="#/weddingparty">Wedding Party</a></li>
        <li><a href="#/accomidations">Wedding Accomidations</a></li>
        <li><a href="#/request">Request a Reception Song</a></li>
      </ul>
    </div>
</nav>
<div class="row" id= "forest">
      <div class="col s12"><h3>"Nothing is forever, except us"<br>
      -F.U.<h3></div>
</div>
<div class = "row">
	<div class="col s3">
		<img class="responsive-img" src="../images/IMG_2251.jpg">  
	</div>
	<div class="col s3">
		<img class="responsive-img" src="../images/IMG_4853.jpg">
	</div>
	<div class="col s6"><span class="flow-text"><blockquote><h5>Morgan and Joe met in a small Chicago-style pizza place in the early fall of 2012. <br>
	After Morgan had asked Joe and his friend to join her and her friends out for an evening of dancing, they knew that it was a love destined for a lifetime.<br>
	Fast forwarding to that Thanksgiving, Morgan brought Joe home to meet her parents, and as they walk in the door Greg asked Joe to help him lift somethings around the house and without hesitation he helped and became a part of the Wright family.<br>
	That Christmas Joe took Morgan back home to Chicago to meet his family, and after enduring the snow and real Christmas Trees, Morgan just as quickly became a part of the Garhan Family.<br>
	In February of 2013, they decided to stop being next-door neighbors and move in together.<br>
	In the fall of 2014 Joe was offered a job working on Halo in Seattle so they decided to make the move, with Morgan following him in January.<br>
	On April 26th 2015 Joe asked Morgan to marry him on Double Bluff Beach on Whidgby Island.<br>
	<h5></span> </blockquote>
	</div>
</div>