<script>
	$(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>

<div id = "login_page">
    <div class="slider fullscreen">
    	<ul class="slides">
      <li>
        <img src="../images/seattle.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to Morgan and Joe's Wedding Website</h3>
    		<input type="submit" class="waves-effect waves-light btn-large grey lighten-1" value='Login to enter' ng-click="login()" />
        </div>
      </li>
      <li>
        <img src="../images/downtown.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Welcome to Morgan and Joe's Wedding Website</h3>
    		<input type="submit" class="waves-effect waves-light btn-large grey lighten-1" value='Login to enter' ng-click="login()" />
        </div>
      </li>
      <li>
        <img src="../images/mtrainier.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Welcome to Morgan and Joe's Wedding Website</h3>
    		<input type="submit" class="waves-effect waves-light btn-large grey lighten-1" value='Login to enter' ng-click="login()" />
        </div>
      </li>
      <li>
        <img src="../images/pike_place_market.jpg"> <!-- random image -->
        <div class="caption center-align">
        <h3>Welcome to Morgan and Joe's Wedding Website</h3>
   		<input type="submit" class="waves-effect waves-light btn-large grey lighten-1" value='Login to enter' ng-click="login()" />
        </div>
      </li>
    </ul>
  </div>
  </div>
</div>