<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  });
</script>
<nav>
    <div class="nav-wrapper black">
      <a href="#/" class="brand-logo">Mojo Wedding 2017</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/location">Wedding Location</a></li>
        <li><a href="#/history">Couple's History</a></li>
        <li><a href="#/weddingparty" class="active">Wedding Party Information</a></li>
        <li><a href="#/accomidations">Wedding Accomidations</a></li>
        <li><a href="#/request">Request a Reception Song</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/location">Wedding Location</a></li>
        <li><a href="#/history">Couple's History</a></li>
        <li><a href="#/weddingparty">Wedding Party</a></li>
        <li><a href="#/accomidations">Wedding Accomidations</a></li>
        <li><a href="#/request">Request a Reception Song</a></li>
      </ul>
    </div>
</nav>

<h3>Wedding Party</h3>
  <div class="container">
    <div class = "row">
    <div class="col s6">
    <h4>Bride Squad</h4>
      <div class="card">
        <div id = "card-pic" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/audrey.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Audrey Gamble</i></span>
          <p>Matron of Honor</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Audrey and Morgan have been friends since they met at a Halloween party in 2010, she is Morgan's unbiological sister, and most people random people think that they look like they are actually related.</p>
        </div>
      </div>
      <div class="card">
        <div id = "card-pic" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/leah.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Leah Rozzi</i></span>
          <p>Maid of Honor</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Leah and Morgan met while working at Patxi's together in 2012, Morgan and Leah share a deep love of the San Francisco Giants and wine... lots and lots of wine. And Champagne.</p>
        </div>
      </div>
      <div class="card">
        <div id = "card-pic" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/david.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">David Spofforth</i></span>
          <p>Bride Squad</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Morgan and David worked together at DNA 2.0, and have been friends since 2011, they were work husband and wife until his cousin served her divorce papers in 2013.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/jenny.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Jenny Stark</i></span>
          <p>Bride Squad</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Jenny and Morgan have been friends since they were in the same class in 6th grade back in 2002. A lot of their memories incude country roads, Rio Vista, and The PJ Bandits.</p>
        </div>
      </div>
    </div>
    <div class="col s6">
    <h4>Groom's Group</h4>
    <div class="card">
        <div id = "card-pic" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/denny.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Dennis Jovic</i></span>
          <p>Head Groomsman</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Joe and Dennis have been friends since they met at Art school in 2006, they are going to fight to the death some day.</p>
        </div>
    </div>
    <div class="card">
        <div id = "card-pic" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/krystina.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Krystina Jovic</i></span>
          <p>Groom's Group</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Krystina and Joe have been friends since Art school, and he sprained his ankle for her in 2005.</p>
        </div>
    </div>
    <div class="card">
        <div id = "card-pic" class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/chris.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Christopher Chaimberlain</i></span>
          <p>Grooms Group</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Joe and Chris met when they worked together at Cryptic Studios back in 2009, Chris' legal middle name is Danger.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="../images/daniel.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Daniel Garhan</i></span>
          <p>Groom's Group</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Click to  close</i></span>
          <p>Daniel is Joe's younger brother and they are constantly battling on who is bigger.</p>
        </div>
    </div>
  </div>
